<mat-card class="example-card mt-3 mb-3">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            Profile
        </mat-card-title>
        <mat-card-subtitle>Who is I?</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        @if(profile){

        <span>
            <label>
                First Name
            </label>
            {{profile.firstName}}
        </span>
        <br />
        <span>
            <label>Last Name</label>
            {{profile.lastName}}
        </span>

        }
        @else{
        <p>Loading...</p>
        }
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

